<!DOCTYPE html>
<html >
	<head>
		<meta charset="UTF-8">
		<title>Chat</title>
		<link rel="stylesheet" href="/css/chatroom.css">
		<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="/bower_components/reset-css/reset.css">
		<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<script src='/bower_components/jquery/dist/jquery.min.js'></script>
		<body>
			<div class="container clearfix">
				<div class="people-list" id="people-list">
					<div class="search">
						<input type="text" placeholder="search" />
					</div>
					<div class="users-list">
						<ul class="list">
						</ul>
					</div>
				</div>

				<div class="chat">
					<div class="chat-header clearfix">
						<img src="<%= user.picture %>" alt="avatar" />

						<div class="chat-about">
							<div class="chat-with"><%= room.title %></div>
							<div class="chat-num-users"> Users</div>
						</div>
						<a href="/rooms">
							<p class="fa fa-rooms">
								Rooms
							</p>
						</a>
						<a href="/ses">
							<i class="fa fa-key"></i>
						</a>
					</div> <!-- end chat-header -->

					<div class="chat-history">
						<ul>
							<% room.messages.forEach(function(message) { %>
								<% if(message.username != user.username) { %>
									<li class="clearfix">
										<div class="message-data align-right">
											<span class="message-data-time" ><%= moment(message.date).fromNow() %></span> &nbsp; &nbsp;
											<span class="message-data-name" ><%= message.username %></span> <img src="<%= user.picture %>" alt="avatar" /></span>
										</div>
										<div class="message other-message float-right">
											<%= message.content %>
										</div>
									</li>
								<% } else { %>
									<li>
										<div class="message-data">
											<span class="message-data-name"><img src="<%= user.picture %>" alt="avatar" /> <%= message.username %></span>
											<span class="message-data-time"><%= moment(message.date).fromNow() %></span>
										</div>
										<div class="message my-message">
											<%= message.content %>
										</div>
									</li>
								<% } %>
							<% }); %>
						</ul>

					</div> <!-- end chat-history -->

					<div class="chat-message clearfix">
						<textarea name="message" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>

						<button>Send</button>

					</div> <!-- end chat-message -->

				</div> <!-- end chat -->

			</div> <!-- end container -->


			<script src="/socket.io/socket.io.js"></script>
			<script src="/js/main.js"></script>

			<script>$(function(){app.chat('<%= room.id %>', '<%= user.username %>')}); ;</script>
		</body>
	</html>
