<% room.messages.forEach(function(message) { %>
<% if(message.username === message.username) { %>
	<div class="message-data">
		<span class="message-data-name"><%= message.username %></span>
		<span class="message-data-time"><%= message.date %></span>
	</div>
	<div class="message my-message" dir="auto"><%= message.content %></div>
<% } else { %>
	<div class="message-data">
		<span class="message-data-name right"><%= message.username %></span>
		<span class="message-data-time right"><%= message.date %></span>
	</div>
	<div class="message my-message right" dir="auto"><%= message.content %></div>
<% } %>
<% }); %>




